.LoginModal--modal {
  position: absolute;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomIn 0.4s;
}

.LoginModal--modal--close {
  position: absolute;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomOut 0.4s;
}

.LoginModal--shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadein 0.4s;
}

.LoginModal--shade--close {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadeout 0.4s;
}

.LoginForm--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LoginForm--header {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoginForm--header--header {
  font-size: 3rem;
}

.LoginForm--header--loginFail {
  color: red;
  font-weight: 500;
}

.LoginForm--form {
  order: 2;
}

.LoginForm--form--top {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--form--middle {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--form--middle2 {
  order: 3;
  justify-content: center;
  align-items: center;
  margin: 20px 111px;
}

.LoginForm--form--bottom {
  order: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--label {
  font-size: 1.2rem;
  margin-right: 20px;
}

.pwslab {
  margin-right: 26px;
}

.rmblab {
  position: relative;
  bottom: 4px;
}

.LoginForm--input {
  width: 340px;
  height: 40px;
  font-size: 1.2rem;
  padding-left: 5px;
  padding-right: 5px;
}

.LoginForm--checkbox {
  height: 20px;
  width: 20px;
}

.field-error {
  color: red;
  font-weight: 500;
  position: relative;
  right: 44px;
  top: 5px;
}

.modalSuccess {
  background-color: green;
}
.LoginSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 20px;
}
