.LoginModal--modal {
  position: absolute;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomIn 0.4s;
}

.LoginModal--modal--close {
  position: absolute;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomOut 0.4s;
}

.LoginModal--shade {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadein 0.4s;
}

.LoginModal--shade--close {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadeout 0.4s;
}

.LoginForm--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.LoginForm--header {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoginForm--header--header {
  font-size: 3rem;
}

.LoginForm--header--loginFail {
  color: red;
  font-weight: 500;
}

.LoginForm--form {
  order: 2;
}

.LoginForm--form--top {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--form--middle {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--form--middle2 {
  order: 3;
  justify-content: center;
  align-items: center;
  margin: 20px 111px;
}

.LoginForm--form--bottom {
  order: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 10px;
}

.LoginForm--label {
  font-size: 1.2rem;
  margin-right: 20px;
}

.pwslab {
  margin-right: 26px;
}

.rmblab {
  position: relative;
  bottom: 4px;
}

.LoginForm--input {
  width: 340px;
  height: 40px;
  font-size: 1.2rem;
  padding-left: 5px;
  padding-right: 5px;
}

.LoginForm--button {
  order: 3;
  width: 60px;
  height: 40px;
  color: white;
  background-color: black;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.LoginForm--button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.LoginForm--button:hover,
.LoginForm--button:focus,
.LoginForm--button:active {
  color: black;
}
.LoginForm--button:hover:before,
.LoginForm--button:focus:before,
.LoginForm--button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: yellow;
}

.LoginForm--checkbox {
  height: 20px;
  width: 20px;
}

.field-error {
  color: red;
  font-weight: 500;
  position: relative;
  right: 44px;
  top: 5px;
}

.modalSuccess {
  background-color: green;
}
.LoginSuccess {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 20px;
}
