client/node_modules
server/node_modules
client/.env
server/.env
client/build/
server/public/
server/src/api/unfinished/
server/src/database/
server/logs
server/src/logs
log.txt
blog-site.conf
