.Article--container {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.Article--Article--header {
  display: flex;
  flex-direction: column;
}

.Article--Article--title {
  margin: 0;
  padding: 0;
  font-size: 2.7rem;
}

.Article--Article--author--date {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.Article--Article--body {
  font-size: 1.2rem;
  font-weight: 500;
}

.Article--Article--body img {
  display: block;
  margin: 20px auto;
  width: 540px;
  height: auto;
}

.Article--Article--body .ql-video {
  display: block;
  margin: 20px auto;
  width: 720px;
  height: 480px;
}

@media only screen and (max-width: 1200px){
  .Article--Article--body .ql-video {
    width: 480px;
    height: 320px;
  }
}

@media only screen and (max-width: 1080px){
  
  .Article--Article--body img {
    width: 240px;
  }
  .Article--Article--body .ql-video {
    width: 360px;
    height: 480px;
  }
}

@media only screen and (max-width: 425px){
  .Article--Article--body img {
    width: 320px;
  }
  .Article--Article--body .ql-video {
    width: 360px;
    height: 240px;
  }
}