.ArticlePage--container {
  background-color: #F0F3F6;
  display: grid;
  grid-template-columns: auto minmax(640px, 1450px) 400px auto;
  grid-template-rows: 150px 50px 50px 400px 400px auto auto 320px;
  grid-template-areas:
    ".        Header       UserPanel       ."
    ".        Header       SocialPanel     ."
    ".        Article      SearchPanel     ."
    ".        Article      Description     ."
    ".        Article      Archive         ."
    ".        Article      .               ."
    ".        Comments     .               ."
    ".        CommentDraft .               .";

  grid-gap: 10px;
  padding: 20px 0;
  min-height: 100vh;
}

.ArticlePage--container--hideComments {
  background-color: #F0F3F6;
  display: grid;
  grid-template-columns: auto minmax(640px, 1450px) 400px auto;
  grid-template-rows: 150px 50px 50px 400px 400px auto 320px;
  grid-template-areas:
    ".        Header       UserPanel       ."
    ".        Header       SocialPanel     ."
    ".        Article      SearchPanel     ."
    ".        Article      Description     ."
    ".        Article      Archive         ."
    ".        Article      .               ."
    ".        CommentDraft .               .";

  grid-gap: 10px;
  padding: 20px 0;
  min-height: 100vh;
}

.ArticlePage--container--hideCommentDraft {
  background-color: #F0F3F6;
  display: grid;
  grid-template-columns: auto minmax(640px, 1450px) 400px auto;
  grid-template-rows: 150px 50px 50px 400px 400px auto auto;
  grid-template-areas:
    ".        Header       UserPanel       ."
    ".        Header       SocialPanel     ."
    ".        Article      SearchPanel     ."
    ".        Article      Description     ."
    ".        Article      Archive         ."
    ".        Article      .               ."
    ".        Comments     .               .";

  grid-gap: 10px;
  padding: 20px 0;
  min-height: 100vh;
}

.ArticlePage--container--hideComments--hideCommentDraft {
  background-color: #F0F3F6;
  display: grid;
  grid-template-columns: auto minmax(640px, 1450px) 400px auto;
  grid-template-rows: 150px 50px 50px 400px 400px auto;
  grid-template-areas:
    ".        Header       UserPanel       ."
    ".        Header       SocialPanel     ."
    ".        Article      SearchPanel     ."
    ".        Article      Description     ."
    ".        Article      Archive         ."
    ".        Article      .               .";

  grid-gap: 10px;
  padding: 20px 0;
  min-height: 100vh;
}

.ArticlePage--Header {
  background-color: #0094ff;
  grid-area: Header;
}

.ArticlePage--UserPanel {
  grid-area: UserPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--SocialPanel {
  grid-area: SocialPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--Article {
  grid-area: Article;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--SearchPanel {
  grid-area: SearchPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--Description {
  grid-area: Description;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--Archive {
  grid-area: Archive;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--Comments {
  grid-area: Comments;
  background-color: #FFFFFF;
  /* box-shadow: 1px 5px 15px 5px #AFAFAF; */
}

.ArticlePage--CommentDraft {
  grid-area: CommentDraft;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.ArticlePage--Comments--hideComments {
  display: none;
}

.ArticlePage--CommentDraft--hideCommentDraft {
  display: none;
}

.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  -moz-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}

@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}
