.MainPage--container {
  background-color: #E0E0E0;
  display: grid;
  grid-template-columns: auto minmax(640px, 1450px) 400px auto;
  grid-template-rows: 150px 50px 50px 400px 400px auto 40px;
  grid-template-areas:
    ".        Header       UserPanel       ."
    ".        Header       SocialPanel     ."
    ".        Articles     SearchPanel     ."
    ".        Articles     Description     ."
    ".        Articles     Archive         ."
    ".        Articles     .               ."
    ".        Pagination   .               .";

  grid-gap: 10px;
  padding: 20px 0;

}

.MainPage--Header {
  grid-area: Header;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--UserPanel {
  grid-area: UserPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--SocialPanel {
  grid-area: SocialPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--Articles {
  grid-area: Articles;
}

.MainPage--SearchPanel {
  grid-area: SearchPanel;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--Description {
  grid-area: Description;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--Archive {
  grid-area: Archive;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.MainPage--Pagination {
  grid-area: Pagination;
}

.pt-page-scaleUpDown {
  -webkit-animation: scaleUpDown 0.5s ease both;
  -moz-animation: scaleUpDown 0.5s ease both;
  animation: scaleUpDown 0.5s ease both;
}

@keyframes scaleUpDown {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media only screen and (max-width: 1080px){
  .MainPage--container {
    grid-template-columns: auto minmax(500px, 640px) 400px auto;
  }
}

@media only screen and (max-width: 425px){
  .MainPage--container {
    grid-template-columns: auto 400px auto;
    grid-template-rows: 200px auto auto auto auto auto auto auto;
    grid-template-areas:
      ".        Header        ."
      ".        UserPanel     ."
      ".        SearchPanel   ."
      ".        Description   ."
      ".        Articles      ."
      ".        SocialPanel   ."
      ".        Archive       ."
      ".        Pagination    .";

  }
}


