.PagesBar--container {
  height: 100%;
}

.PagesList--container {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.PageButton {
  height: 100%;
  width: 40px;
  background-color: yellow;
  margin-right: 2px;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 0.25s;
  transition: background-color 0.5s;
  cursor: pointer;
  user-select: none;
}

.PageButton:hover {
  transform: scale(1.05);
  background-color: rgb(224, 224, 4);
}

.PageButton:active {
  transform: scale(1.025);
  background-color: rgb(197, 197, 4);
}
