.SubmitDraftModal--modal {
  position: fixed;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomIn 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitDraftModal--modal--close {
  position: fixed;
  width: 550px;
  height: 420px;
  left: 50%;
  top: 50%;
  z-index: 11;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  animation: zoomOut 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SubmitDraftModal--shade {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadein 0.4s;
}

.SubmitDraftModal--shade--close {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100vh;
  animation: fadeout 0.4s;
}

.modalSuccess {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.modalFail {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.SubmitDraftModal--loading--header {
  order: 1;
  font-size: 3rem;
}

.SubmitDraftModal--loading--loader {
  order: 2;
}
