body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.mainPage--container {
  background-color: wheat;
  display: grid;
  grid-template-columns: 1fr 1450px 1fr 400px 1fr;
  grid-template-rows: 1fr 150px 1fr 50px 1fr 50px 1fr 400px 1fr 600px 1fr 40px 2fr;
  grid-gap: 5px;
  padding: 20px 0;
}

.mainPage--header {
  background-color: #0094ff;
  grid-column: 2/3;
  grid-row: 2/5;
}

.mainPage--userPanel {
  background-color: blue;
  grid-column: 4/5;
  grid-row: 2/3;
}

.mainPage--socialPanel {
  background-color: snow;
  grid-column: 4/5;
  grid-row: 4/5;
}

.mainPage--articles {
  background-color: violet;
  grid-column: 2/3;
  grid-row: 6/11;
}

.mainPage--searchPanel {
  background-color: green;
  grid-column: 4/5;
  grid-row: 6/7;
  user-select: none;
}

.mainPage--description {
  background-color: mediumaquamarine;
  grid-column: 4/5;
  grid-row: 8/9;
}

.mainPage--archive {
  background-color: yellowgreen;
  grid-column: 4/5;
  grid-row: 10/11;
}

.mainPag--pagination {
  background-color: orange;
  grid-column: 2/3;
  grid-row: 12/13;
}

.articleCreation--container {
  background-color: wheat;
  display: grid;
  grid-template-columns: 1fr 1450px 1fr 400px 1fr;
  grid-template-rows: 1fr 150px 1fr 50px 1fr 50px 1fr 400px 1fr 600px 1fr 40px 2fr;
  grid-gap: 5px;
  padding: 20px 0;
}

.articleCreation--header {
  background-color: #0094ff;
  grid-column: 2/3;
  grid-row: 2/5;
}

.articleCreation--userPanel {
  background-color: blue;
  grid-column: 4/5;
  grid-row: 2/3;
}

.articleCreation--socialPanel {
  background-color: snow;
  grid-column: 4/5;
  grid-row: 4/5;
}

.articleCreation--draftBar {
  background-color: yellow;
  grid-column: 2/3;
  grid-row: 6/7;
}

.articleCreation--draft {
  background-color: violet;
  grid-column: 2/3;
  grid-row: 8/11;
}

.articleCreation--searchPanel {
  background-color: green;
  grid-column: 4/5;
  grid-row: 6/7;
  user-select: none;
}

.articleCreation--description {
  background-color: mediumaquamarine;
  grid-column: 4/5;
  grid-row: 8/9;
}

.articleCreation--archive {
  background-color: yellowgreen;
  grid-column: 4/5;
  grid-row: 10/11;
}

.articleCreation--pagination {
  background-color: orange;
  grid-column: 2/3;
  grid-row: 12/13;
}
