.Articles--container {
  background-color: #F0F3F6;
}

.Articles--ArticleList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0; 
  height: 100%;
}

.Articles--Article--container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  margin: 0 0 20px 0;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 15px 5px #AFAFAF;
}

.Articles--Article--header {
  display: flex;
  flex-direction: column;
}

.Articles--Article--title {
  margin: 0;
  padding: 0;
  font-size: 2.7rem;
  cursor: pointer;
  transition: color 0.25s;
}

.Articles--Article--title:hover {
  color: red;
}

.Articles--Article--title:active {
  color: rgb(255, 187, 187);
}

.Articles--Article--author--date {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.Articles--Article--body {
  font-size: 1.2rem;
  font-weight: 500;
  word-wrap: break-word;
}

.Articles--Article--body img {
  display: block;
  margin: 20px auto;
  width: 540px;
  height: auto;
}

.Articles--Article--body .ql-video {
  display: block;
  margin: 20px auto;
  width: 720px;
  height: 480px;
}

@media only screen and (max-width: 1200px){
  .Articles--Article--body .ql-video {
    width: 480px;
    height: 320px;
  }
}

@media only screen and (max-width: 1080px){
  
  .Articles--Article--body img {
    width: 240px;
  }
  .Articles--Article--body .ql-video {
    width: 360px;
    height: 480px;
  }
}

@media only screen and (max-width: 425px){
  .Articles--Article--body img {
    width: 320px;
  }
  .Articles--Article--body .ql-video {
    width: 360px;
    height: 240px;
  }
}