.CommentDraft--container {
  height: 200px;
  overflow: none;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0 20px;
}

.CommentDraft--header {
  order: 1;
}

.CommentDraft--CommentDraft {
  order: 2;
  height: 100%;
  border: 1px gray solid;
}

.CommentDraft--SubmitComment {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.SubmitCommentButton {
  order: 3;
  margin: 0 -5px;
}
